/* Estilos para el formulario */

.principal {
  margin-top: 3%;
  width: 90%;
  border-radius: 15px;
  border: 3px solid #89a1ad;
  background-image: linear-gradient(-45deg, #1d78d3 20%, #002855 80%);
}

form {
    width: 90%;
    margin: 9%;
    padding: 20px;
    border-radius: 10px;
    color: #001233;
    background-color: #d2d3d6;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .addCuenta {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para mensajes de error */
  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilos para mensajes de éxito */
  .success-message {
    color: #4caf50;
    font-size: 14px;
    margin-top: 5px;
  }